.registerButton {
  color: white !important;
  border: 1px solid #248232 !important;
  background-color: #248232 !important;

  &:hover {
    color: #248232 !important;
    background-color: white !important;
  }
}

.loginButton {
  color: #363557 !important;
  border: 1px solid #363557;
  background-color: white;

  &:hover {
    color: white !important;
    background-color: #363557 !important;
  }
}
