@import '../../../variables.scss';

.mainTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 14px 0 14px 0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  .worldCheckbox {
    display: flex;
    align-items: center;
  }
}

.mainForm {
  display: flex;
  flex-direction: row;

  .inputLabel {
    margin-bottom: 8px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 12px;
    }
  }

  @media screen and (max-width: $mobileScreen) {
    flex-direction: column;
  }
}
