.bigCardContainer {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  box-sizing: border-box;
  // min-width: 270px;
  width: 284px;
  min-height: 318px;
  height: 100%;
  // margin: 16px auto 0;
  margin-right: 19px;
  margin-bottom: 20px;
  padding: 9px 17px;

  border-radius: 20px;

  font-family: Helvetica, serif;

  &:nth-child(4n) {
    margin-right: 0;
  }
  @media screen and (max-width: 1024px) {
    justify-content: space-between;

    margin-right: 0;
  }
}

.bigCardContainerCard {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  box-sizing: border-box;
  // min-width: 270px;
  // width: 284px;
  min-height: 318px;
  height: 100%;
  // margin: 16px auto 0;
  margin-right: 19px;
  margin-bottom: 20px;
  padding: 9px 17px;

  border-radius: 20px;

  font-family: Helvetica, serif;

  &:nth-child(4n) {
    margin-right: 0;
  }
  @media screen and (max-width: 1024px) {
    justify-content: space-between;

    margin-right: 0;
  }
}

.bigHeader {
  display: flex;
  flex-flow: column;
  margin-bottom: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}

.cardContent {
  height: 100%;
  // max-height: 90px;
  margin-top: 14px;

  cursor: pointer;

  // font-family: Helvetica, serif;
  // font-size: 14px;
  // font-weight: 500;
  // line-height: 18px;
}
.date {
  max-height: 44px;
  display: flex;
  flex-direction: column;
}

.cardNames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-decoration: underline;

  color: #747373;

  font-size: 14px;

  height: 68px;

  overflow: hidden;
}

.mainHeader {
  height: 44px;
  display: flex;
  justify-content: space-between;

  color: #747373;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  // margin-bottom: 15px;
}

.imageContainer {
  width: 100%;
  height: 160px;

  cursor: pointer;
  text-align: center;
}

.image {
  width: 50%;
  height: 160px;
  margin: 0 auto;

  border-radius: 14px;
  object-fit: cover;
}

.image_full {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  border-radius: 14px;
  object-fit: cover;
}

.bigTitle {
  display: -webkit-box;
  overflow: hidden;
  margin-top: 12px;
  height: 100%;
  color: black;
  letter-spacing: 0;

  font-family: HelveticaNeueCyr, serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text {
  font-size: 14px;
}

.clickableText {
  margin-bottom: 10px;

  cursor: pointer;

  font-size: 16px;
}

// @media (max-width: 960px) {
//   .bigCardContainer {
//     max-width: 300px;
//   }

// @media (max-width: 600px) {
//   .bigCardContainer {
//     min-width: 270px;
//     min-height: 150px;
//     // max-height: 370px;
//   }

.bigHeader {
  margin-bottom: 15px;
}

.cardContent {
  cursor: pointer;

  font-size: 12px;
}

.cardNames {
  font-size: 12px;
}

.content {
  min-height: unset;
}

.bigTitle {
  height: unset;

  font-size: 18px;
}

.text {
  font-size: 12px;
}

.hish {
  width: 39px;
  height: 39px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgSizeForHish {
  width: 24px;
  height: 24px;
}

.imgSize {
  width: 14px;
  height: 14px;
}
