.textBeforeCarousel {
  display: flex;
  justify-content: space-between;

  margin: 147px 40px 68px 40px;
}

.imageFrame {
  position: relative;

  height: 208px;
}

.buttonStyle {
  display: flex;

  margin: auto;
  padding: 26px 70px;

  white-space: nowrap;

  border: 1px solid #363557;
  border-radius: 150px;
  background-color: white;

  font-size: 30px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide,
.slick-active {
  /* margin-right: 20px; */

  /* min-width: 210px !important; */
}

.customText {
  text-align: left;
  white-space: nowrap;

  color: #222;

  font-size: 18px;
}

@media (max-width: 872px) {
  .buttonStyle {
    padding: 4% 5%;

    font-size: 4vw;
  }

  .allStyle {
    padding: 2% 2%;

    font-size: 4vw;
  }

  .textBeforeCarousel {
    margin: 37px 34px 56px 33px;
  }

  .textBeforeCarousel p {
    font-size: 4vw;
  }

  .slick-slide {
    /* width: 100px !important; */
  }

  .carouselImage {
    width: 210px;
    height: 210px;
  }

  .carouselImage2 {
    width: 210px;
    height: 210px;
  }

  .customText {
    /* margin-top: -39px; */
    font-size: 12px;
  }

  .persentage {
    font-size: 25px;
  }

  .imageFrame {
    height: 161px;
  }
}

@media (max-width: 361px) {
  .buttonStyle {
    padding: 2% 2%;

    font-size: 3vw;
  }

  /* .slick-prev { */

  /*  display: none !important; */

  /* } */

  /* .slick-next { */

  /*  display: none !important; */

  /* } */

  /* .makeStyles-carouselContainer-2 { */

  /*  margin-left: 10px !important; */

  /* } */

  /* .slick-list { */

  /*  margin-left: -14px !important; */

  /* } */
}

/* slick-arrow slick-prev */

.slick-prev {
  position: absolute;
  top: 0 !important;
  left: -70px !important;
}

.slick-next {
  position: absolute;
  top: 0 !important;
  right: -31px !important;
}

.slick-prev::before {
  display: flex;
  align-items: center;

  content: url("../icons/pictures/prev.png") !important;
}

.slick-next::before {
  content: url("../icons/pictures/next.png") !important;
}
